/*Dropdown utilisateur

.nav-item{
    margin-right: 5rem !important;
}

.dropdown-menu{

    background-color: beige !important;
}
*/

header {
    background-color: white;
}
body {
    background-color: rgba(255, 236, 206, 0.91);
}

